{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-optional-chaining", {
      "loose": false
    }],
    ["@babel/plugin-proposal-pipeline-operator", {
      "proposal": "minimal"
    }],
    "@babel/plugin-proposal-do-expressions",

    "@babel/plugin-syntax-dynamic-import",
  ]
}
