#!/bin/sh

exec consul-template \
    -consul-addr 192.19.0.2:53 \
    -template "/etc/consul-templates/app.conf:/etc/nginx/conf.d/app.conf:service nginx reload"
