{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", {
      "targets":{
        "node": "current"
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-logical-assignment-operators",
    ["@babel/plugin-proposal-optional-chaining", {
      "loose": false
    }],
    ["@babel/plugin-proposal-pipeline-operator", {
      "proposal": "minimal"
    }],
    "@babel/plugin-proposal-do-expressions",
    ["@babel/plugin-proposal-class-properties", {
      "loose": false
    }],
    "@babel/plugin-proposal-export-default-from"
  ]
}
